<div class="navbar">
  <img width="40" src="../assets/thumbnail_Untitled design 2.png" />
  <div class="spacer"></div>
  <a routerLink="/"> Home </a>
  <a routerLink="/instructions"> Instructions </a>
  <a routerLink="/contactme"> Contact Me </a>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div>
  <footer id="footer" class="text-center">
    <p>
      Questions?
      <a href="mailto:cpenrod@proforma.com">cpenrod@proforma.com</a>
      <a href="tel:8134096169">Call Me: 813-409-6169</a>
    </p>
  </footer>
</div>
