<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1 class="text-center">Black Bean Fajitas</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="text-center">Great make ahead meal</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-center">
        I make this dish when I know I am going to be low on time during the
        week after work. It is quick and easy to prep on the weekend.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-center">
        Having to prepare meals for someone who is vegetarian makes deciding
        what to do for dinner a littler harder.
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <img
      src="../assets/vegetable-fajitas-landscape.jpg"
      class="col-6 offset-1"
    />
  </div>
</div>
